.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860352;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs2{font-size:56.160000px;}
.fs0{font-size:63.840000px;}
.y2b{bottom:3.741682px;}
.yf{bottom:3.741689px;}
.y18{bottom:3.741690px;}
.y6{bottom:3.741696px;}
.y1d{bottom:3.741702px;}
.y15{bottom:3.741713px;}
.y23{bottom:3.741718px;}
.y9{bottom:3.741728px;}
.y20{bottom:3.741734px;}
.yc{bottom:3.741739px;}
.y26{bottom:3.741750px;}
.y12{bottom:3.741752px;}
.y1a{bottom:3.741760px;}
.y2e{bottom:3.741765px;}
.y2a{bottom:4.251682px;}
.ye{bottom:4.251689px;}
.y1c{bottom:4.251702px;}
.y14{bottom:4.251713px;}
.y22{bottom:4.251718px;}
.y8{bottom:4.251728px;}
.y1f{bottom:4.251734px;}
.yb{bottom:4.251747px;}
.y25{bottom:4.251750px;}
.y11{bottom:4.251760px;}
.y2d{bottom:4.251765px;}
.y4{bottom:4.731677px;}
.y2{bottom:4.731732px;}
.y0{bottom:53.500000px;}
.y30{bottom:54.249964px;}
.y2f{bottom:71.357164px;}
.y2c{bottom:89.208064px;}
.y29{bottom:106.315264px;}
.y28{bottom:120.298464px;}
.y27{bottom:148.264964px;}
.y24{bottom:176.231364px;}
.y21{bottom:191.850964px;}
.y1e{bottom:208.958064px;}
.y1b{bottom:224.577664px;}
.y19{bottom:240.940964px;}
.y17{bottom:254.924264px;}
.y16{bottom:282.890664px;}
.y13{bottom:310.857164px;}
.y10{bottom:327.964264px;}
.yd{bottom:345.815264px;}
.ya{bottom:362.178564px;}
.y7{bottom:376.310564px;}
.y5{bottom:391.930164px;}
.y3{bottom:415.582664px;}
.y1{bottom:431.945964px;}
.h5{height:13.483200px;}
.hc{height:13.483300px;}
.h9{height:13.632000px;}
.h7{height:15.119600px;}
.h4{height:15.863300px;}
.hb{height:16.607100px;}
.hd{height:16.607200px;}
.he{height:17.350900px;}
.ha{height:17.351000px;}
.h2{height:20.326100px;}
.h6{height:32.789062px;}
.h8{height:38.363203px;}
.h3{height:43.609453px;}
.h1{height:378.000000px;}
.h0{height:506.522100px;}
.wf{width:21.665400px;}
.wa{width:27.015600px;}
.w4{width:27.779900px;}
.w8{width:27.780000px;}
.wd{width:28.544200px;}
.wb{width:29.308600px;}
.w7{width:30.072900px;}
.wc{width:30.837200px;}
.we{width:31.601600px;}
.w9{width:32.365900px;}
.w6{width:33.894600px;}
.w5{width:39.244800px;}
.w12{width:49.945300px;}
.w10{width:82.811200px;}
.w13{width:117.970000px;}
.w3{width:152.364600px;}
.w11{width:210.453100px;}
.w2{width:455.036400px;}
.w1{width:770.000000px;}
.w0{width:869.708900px;}
.x6{left:1.769104px;}
.x2{left:3.084557px;}
.x14{left:7.274694px;}
.x15{left:9.901395px;}
.x16{left:20.740863px;}
.x17{left:44.846331px;}
.x0{left:50.000000px;}
.x4{left:57.377856px;}
.x13{left:72.815402px;}
.x1{left:156.126602px;}
.x3{left:367.079702px;}
.x5{left:417.525002px;}
.x7{left:445.804902px;}
.x8{left:485.549702px;}
.x9{left:519.944302px;}
.xa{left:550.517202px;}
.xb{left:578.797202px;}
.xc{left:611.663002px;}
.xd{left:639.178602px;}
.xe{left:668.987202px;}
.xf{left:700.324502px;}
.x10{left:730.133102px;}
.x11{left:759.177302px;}
.x12{left:787.457302px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:74.880000pt;}
.fs0{font-size:85.120000pt;}
.y2b{bottom:4.988909pt;}
.yf{bottom:4.988919pt;}
.y18{bottom:4.988920pt;}
.y6{bottom:4.988928pt;}
.y1d{bottom:4.988936pt;}
.y15{bottom:4.988951pt;}
.y23{bottom:4.988957pt;}
.y9{bottom:4.988971pt;}
.y20{bottom:4.988979pt;}
.yc{bottom:4.988985pt;}
.y26{bottom:4.989000pt;}
.y12{bottom:4.989003pt;}
.y1a{bottom:4.989013pt;}
.y2e{bottom:4.989020pt;}
.y2a{bottom:5.668909pt;}
.ye{bottom:5.668919pt;}
.y1c{bottom:5.668936pt;}
.y14{bottom:5.668951pt;}
.y22{bottom:5.668957pt;}
.y8{bottom:5.668971pt;}
.y1f{bottom:5.668979pt;}
.yb{bottom:5.668996pt;}
.y25{bottom:5.669000pt;}
.y11{bottom:5.669013pt;}
.y2d{bottom:5.669020pt;}
.y4{bottom:6.308903pt;}
.y2{bottom:6.308976pt;}
.y0{bottom:71.333333pt;}
.y30{bottom:72.333286pt;}
.y2f{bottom:95.142886pt;}
.y2c{bottom:118.944086pt;}
.y29{bottom:141.753686pt;}
.y28{bottom:160.397952pt;}
.y27{bottom:197.686619pt;}
.y24{bottom:234.975152pt;}
.y21{bottom:255.801286pt;}
.y1e{bottom:278.610752pt;}
.y1b{bottom:299.436886pt;}
.y19{bottom:321.254619pt;}
.y17{bottom:339.899019pt;}
.y16{bottom:377.187552pt;}
.y13{bottom:414.476219pt;}
.y10{bottom:437.285686pt;}
.yd{bottom:461.087019pt;}
.ya{bottom:482.904752pt;}
.y7{bottom:501.747419pt;}
.y5{bottom:522.573552pt;}
.y3{bottom:554.110219pt;}
.y1{bottom:575.927952pt;}
.h5{height:17.977600pt;}
.hc{height:17.977733pt;}
.h9{height:18.176000pt;}
.h7{height:20.159467pt;}
.h4{height:21.151067pt;}
.hb{height:22.142800pt;}
.hd{height:22.142933pt;}
.he{height:23.134533pt;}
.ha{height:23.134667pt;}
.h2{height:27.101467pt;}
.h6{height:43.718750pt;}
.h8{height:51.150937pt;}
.h3{height:58.145938pt;}
.h1{height:504.000000pt;}
.h0{height:675.362800pt;}
.wf{width:28.887200pt;}
.wa{width:36.020800pt;}
.w4{width:37.039867pt;}
.w8{width:37.040000pt;}
.wd{width:38.058933pt;}
.wb{width:39.078133pt;}
.w7{width:40.097200pt;}
.wc{width:41.116267pt;}
.we{width:42.135467pt;}
.w9{width:43.154533pt;}
.w6{width:45.192800pt;}
.w5{width:52.326400pt;}
.w12{width:66.593733pt;}
.w10{width:110.414933pt;}
.w13{width:157.293333pt;}
.w3{width:203.152800pt;}
.w11{width:280.604133pt;}
.w2{width:606.715200pt;}
.w1{width:1026.666667pt;}
.w0{width:1159.611867pt;}
.x6{left:2.358805pt;}
.x2{left:4.112743pt;}
.x14{left:9.699592pt;}
.x15{left:13.201860pt;}
.x16{left:27.654484pt;}
.x17{left:59.795108pt;}
.x0{left:66.666667pt;}
.x4{left:76.503808pt;}
.x13{left:97.087203pt;}
.x1{left:208.168803pt;}
.x3{left:489.439603pt;}
.x5{left:556.700003pt;}
.x7{left:594.406536pt;}
.x8{left:647.399603pt;}
.x9{left:693.259069pt;}
.xa{left:734.022936pt;}
.xb{left:771.729603pt;}
.xc{left:815.550669pt;}
.xd{left:852.238136pt;}
.xe{left:891.982936pt;}
.xf{left:933.766003pt;}
.x10{left:973.510803pt;}
.x11{left:1012.236403pt;}
.x12{left:1049.943069pt;}
}
